html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.header {
  background-color: #652e79;
  padding: 16px;
  display: flex;
}

.header #logo {
  object-fit: cover;
  width: 23px;
  padding-right: 16px;
}

.header button {
  border: none;
  color: black;
  background-color: #4bd4d4;
  outline-color: #4bd4d4;
  min-width: 80px;
  min-height: 24px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  margin-left: -4px;
}

.header input {
  border: none;
  text-indent: 8px;
  min-width: 255px;
  min-height: 24px;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

.icons {
  margin-left: auto;
}

.icons #filter-btn {
  color: #4bd4d4;
  background: none;
  border: none;
  margin-left: 0px;
  font-size: 16px;
}

.icons #filter-btn:hover {
  font-style: italic;
}

.icons #perfil-btn {
  min-width: fit-content;
  min-height: fit-content;
  padding: 0px;
  margin: 0px;
  margin-left: 16px;
  border-radius: 50%;
  outline: solid;
  outline-color: #4bd4d4;
  outline-style: dotted;
}

.icons #perfil-btn:hover {
  outline-style: dashed;
}

.icons #perfil-image {
  max-width: 32px;
  max-height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.slideshow {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px;
  background-color:blueviolet;
}

.slideshow #slideimg {
  object-fit: cover;
  border-radius: 10px;
  width: 75%;
  height: 400px;
}

.slideshow button {
  background: none;
  border: none;
  font-size: 50px;
  width: 5%;
  height: 64px;
}

.slideshow #left-btn {
  margin-right: -16px;
}

.slideshow #right-btn {
  margin-left: -16px;
}

.prodtable {
  min-height: 800px;
  height: auto !important;
  height: 100vh;
  margin-top: 0px;
  margin-bottom: 0px;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  display: flex;
  flex-wrap: wrap;
  padding: 16px;
  background-color: #f1f1f1;
}

.prod-bubble {
  margin: 2%;
  padding: 32px;
  border-radius: 16px;
  background-color: #921313;
}

.prod-bubble a #prod-img {
  border-radius: 16px;
  width: 128px;
}

.prod-bubble a #prod-name {
  font-size: 24px;
  color: #363636;
  font-family: 'Lucida Sans';
  font-style: normal;
}

.prod-bubble #description {
  font-size: 16px;
  color: #000000;
  font-family: 'Segoe UI';
  font-style: normal;
}

.prod-bubble #price {
  font-size: 18px;
  color: #000000;
  font-family: 'Franklin Gothic Medium';
  font-style: italic;
}

.side-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 25%;
  height: 100vh;
  background-color: #921313;
  padding: 16px;
  display: none;
}

.subpage-perfil {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f1f1f1;
  padding: 0px;
  margin: 0px;
  border: 0px;
  display: none;
}