html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
.header {
  background-color: #3D0814;
  padding: 16px;
  display: flex;
}
.header #logo {
  object-fit: cover;
  width: 23px;
  padding-right: 16px;
}
.header button {
  border: none;
  color: black;
  background-color: #FCDE9C;
  outline-color: #FCDE9C;
  min-width: 80px;
  min-height: 24px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  margin-left: -4px;
}
.header button:hover {
  color: black;
  background-color: #FFFCD9;
  outline-color: #FFFCD9;
}
.header input {
  border: none;
  text-indent: 8px;
  min-width: 255px;
  min-height: 24px;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}
.icons {
  margin-left: auto;
}
.icons #filter-btn {
  color: white;
  background: none;
  border: none;
  margin-left: 0px;
  font-size: 16px;
}
.icons #filter-btn:hover {
  font-style: italic;
  color: #BDEDE0;
}
.slideshow {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  background-color: #FFFCD9;
}
.slideshow #slideimg {
  object-fit: cover;
  outline-style: dotted;
  border-radius: 10px;
  width: 75%;
  height: 400px;
}
.slideshow #slideimg:hover {
  outline-style: solid;
}
.slideshow button {
  background: none;
  border: none;
  font-size: 50px;
  width: 5%;
  height: 64px;
}
.slideshow #left-btn {
  margin-right: -16px;
}
.slideshow #right-btn {
  margin-left: -16px;
}
hr {
  background-color: #210124;
  margin-top: 0px;
  margin-bottom: 0px;
  border: solid;
  border-top: 1px solid #000000;
}
.prodtable {
  min-height: 800px;
  height: auto !important;
  height: 100vh;
  margin-top: 0px;
  margin-bottom: 0px;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  display: flex;
  flex-wrap: wrap;
  padding: 16px;
  background: 
    linear-gradient(to right, #3D0814cc, #3D0814cc), 
    url("../img/textura.jpg");
  filter: contrast(100%) brightness(100%);
}
.product {
  width: fit-content;
  height: fit-content;
  padding: 20px;
  margin: 1%;
  background-color: #FFA552;
  outline-style: dashed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 16px;
}
.product:hover {
  outline-style: solid;
}
.product img {
  width: 100%;
  height: 100%;
  align-self: center;
}
.product #nail {
  width: 12px;
  height: 12px;
  margin-top: -16px;
  background-color: #808080;
  outline-style: solid;
  align-self: center;
  border-radius: 100%;
}
.side-menu {
  outline-style: solid;
  position: fixed;
  top: 0;
  left: 0;
  width: 25%;
  height: 100vh;
  background:
    linear-gradient(to right, #FFA552, #BA5624);
  filter: contrast(110%) brightness(80%);
  padding: 16px;
  display: none;
}