body {
  margin: 0;
  padding: 0;
}
.header {
  background-color: grey;
  padding: 16px;
  display: flex;
}
.header button {
  border: none;
  color: white;
  background-color: blue;
  outline-color: blue;
  min-width: 80px;
  min-height: 24px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  margin-left: -4px;
}
.header button:hover {
  color: white;
  background-color: rgb(0, 0, 221);
  outline-color: rgb(0, 0, 221);
}
.header input {
  border: none;
  text-indent: 8px;
  min-width: 255px;
  min-height: 24px;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}
.icons {
  margin-left: auto;
}
.icons #filter-btn {
  color: white;
  background: none;
  border: none;
  margin-left: 0px;
  font-size: 16px;
}
.icons #filter-btn:hover {
  font-style: italic;
}
.slideshow {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}
.slideshow #slideimg {
  outline-style: solid;
  width: 75%;
  height: 400px;
}
.slideshow button {
  background: none;
  border: none;
  font-size: 50px;
  width: 5%;
  height: 64px;
}
.slideshow #left-btn {
  margin-right: -16px;
}
.slideshow #right-btn {
  margin-left: -16px;
}